extends layout

block content
  .row
    .col-12
      h1 About Hostel Buddies
      p Hostel Buddies is dedicated to helping travelers find the best hostels to stay in. Our platform features detailed information, reviews, and ratings for hostels like Bunkd Beds to ensure you have a comfortable and enjoyable stay. Learn more about our mission and the services we offer.
