extends layout

block content
  .row
    .col-12
      h1 Add Review
      p Share your experience with Bunkd Beds here. Your feedback helps us improve and assists other travelers in finding the perfect stay.
