extends layout

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
        | Hostel Buddies is designed to help you find the perfect hostel for your stay.
        br
        br
        | Bunkd Beds offers a comfortable and affordable stay with excellent amenities. Whether you’re traveling for business or leisure, our platform helps you discover the best places to stay and make the most of your trip.
