extends layout

block content
  .row.banner
    .col-12
      h1 Hostel Buddies

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Bunkd Beds
          small &nbsp;
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.far.fa-star
          i.far.fa-star
          span.badge.badge-pill.badge-default.float-right 100m
          p.address St Anthony's Prise, near St Anthony's Chapel & UV bar, Dmello Vaddo, Anjuna, Goa 403509
          p.facilities
            span.badge.badge-warning Free Wi-Fi
            span.badge.badge-warning Breakfast Included
            span.badge.badge-warning 24/7 Reception
  
      .card
        .card-block
          h4
            a(href="/location") Funky Monkey Hostel
          small &nbsp;
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.far.fa-star
          i.far.fa-star
          span.badge.badge-pill.badge-default.float-right 200m
          p.address Palolem Beach, Canacona, Goa 403702, India
          p.facilities
            span.badge.badge-warning Free Wi-Fi
            span.badge.badge-warning Bar
            span.badge.badge-warning Shared Kitchen
            span.badge.badge-warning Beach Access

      .card
        .card-block
          h4
            a(href="/location") Prison Hostel
          small &nbsp;
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          span.badge.badge-pill.badge-default.float-right 400m
          p.address Anjuna Flea Market Road, Anjuna, Goa 403509, India
          p.facilities
            span.badge.badge-warning Free Wi-Fi
            span.badge.badge-warning Nightclub
            span.badge.badge-warning Bar
            span.badge.badge-warning Free Parking
